@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);
*,
*::after,::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 2px dotted #c4f82a;
  outline-offset: 4px;
}

img {
  object-fit: cover;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding: 24px;
}

li {
  text-align: center;
}

.user-card {
  background-color: #1f1f1f;
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}
.user-card__image {
  margin-bottom: 24px;
  border-radius: 50%;
}
.user-card__title {
  font-weight: 800px;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 4px;
}
.user-card__tlocation {
  font-weight: 600px;
  color: #c4f82a;
  /* margin-bottom:24px ; */
}
.user-card__job {
  font-weight: 400;
  text-align: center;
}
.user-card__social {
  align-items: center;
  gap: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.user-card__social-item {
  align-items: center;
  /* width: 100%; */

  width: 100%;
}
.user-card__social-link {
  color: #fff;
  width: 100%;
  padding-top: 12px;
  align-items: center;

  padding-bottom: 12px;
  background-color: #333333;
  border-radius: 8px;
  &:active {
    opacity: 0.8;
  }

  &:hover {
    background-color: #c4f82a;
    color: #333333;
  }
}
@media (max-width: 375px) {
  .user-card {
    padding: 24px;
  }
}
